.radio-group {
  .form-check {
    display: flex;
    align-items: center;
    gap: 6px;

    .form-check-input {
      float: none;
      margin: 0;
      border: 2px solid #636366;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:checked {
        background-color: transparent;
        border-color: var(--store-addons-for-woocommerce-color);
        &::before {
          background-color: var(--store-addons-for-woocommerce-color);
        }
      }
      &::before {
        width: 10px;
        height: 10px;
        content: "";
        background-color: transparent;
        padding: 0;
        margin: 0;
        line-height: 10px;
      }
    }
    .content {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
  &.radio-group-inline {
    .form-check {
      display: inline-flex;
      vertical-align: middle;      
      flex-direction: row-reverse;
      padding-left: 0;
      margin-right: 12px;
      .content {        
        flex-direction: row-reverse;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &.radio-group-block {
    .form-check {
      width: 100%;
      justify-content: space-between;
      .form-check-input {
        order: 2;
        margin: 0;
      }
      .content {
        .form-check-label {
          order: 2;
        }
        .hint-tooltip {
          order: 1;
        }
      }
      &.with-hints {
        padding-left: 0;
      }
    }
  }
  &.has-media {
    grid-gap: 10px;
    &.radio-group-inline {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .form-check {
      margin-right: 0;
      .form-check-input {
        display: none;
        &:checked ~ .content {
          img {
            border-color: var(--store-addons-for-woocommerce-color);
          }
        }
      }
      .content {
        display: flex;
        align-items: center;
        gap: 6px;
        img {
          max-width: 100%;
          height: auto;
          border: 10px solid #eaeaea;
        }
      }
    }
  }
}
