:root {
    --wp-active-color: #3858e9;
}

.store-addons-for-woocommerce-settings-template {

    #wpadminbar,
    #adminmenuwrap {
        z-index: 999;
    }

    #wpcontent {
        padding-left: 0;

        .card {
            max-width: unset;
            min-width: unset;
            margin-top: 0;
            padding: unset;
        }
    }

    #wpbody-content {
        padding-bottom: 0;
    }

    #wpfooter {
        display: none;
    }

    ul#adminmenu a.wp-has-current-submenu:after,
    ul#adminmenu>li.current>a.current:after {
        border-right-color: var(--bs-body-bg);
    }

    .form-select,
    .form-control {
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        background-color: transparent;
        max-width: 100%;

        &:hover {
            border-color: var(--bs-border-color);
        }

        &:focus {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
        }
    }

    .form-check {
        .form-check-input {
            margin: 0;
            margin-top: 4px;
            margin-left: -1.5em;
        }
    }

    .form-switch {
        .form-check-input {
            background-color: transparent;
            background-image: var(--bs-form-switch-bg);
            border: var(--bs-border-width) solid var(--bs-border-color);
            background-repeat: no-repeat;
            outline: none;
            box-shadow: none;
            margin-left: -2.5em;

            &:checked {
                background-color: #0d6efd;
                border-color: #0d6efd;

                &::before {
                    display: none;
                }
            }
        }
    }

    .breadcrumb {
        margin: 0;
        padding: 0;

        li.breadcrumb-item {
            margin-bottom: 0;

            a {
                text-decoration: none;
            }
        }
    }


    /**
    * Help Tip
    */
    .mp-help-tip {
        color: #666;
        display: inline-block;
        font-size: 1.1em;
        font-style: normal;
        height: 16px;
        line-height: 16px;
        position: relative;
        vertical-align: middle;
        width: 16px;

        &::after {
            font-family: dashicons;
            content: "\f223";
            // @include icon_dashicons("\f223");
            cursor: help;
        }
    }
}

.loading-skeleton {
    background: linear-gradient(45deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 3s infinite;

    // border-radius: 4px;
    // margin-bottom: 16px;
    &.h1,
    &.h2,
    &.h3,
    &.h4,
    &.h5,
    &.h6 {
        margin-bottom: 10px;
    }

    &.h1 {
        height: 40px;
    }

    &.h2 {
        height: 33px;
    }

    &.h3 {
        height: 26px;
    }

    &.h4 {
        height: 19px;
    }

    &.h5 {
        height: 15px;
    }

    &.h6 {
        height: 13px;
    }

    &.p {
        height: 20px;
        margin-bottom: 10px;
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.toplevel_page_store-addons-for-woocommerce {
    .wp-menu-image {
        text-align: center;

        img {
            display: inline-block;
        }
    }
}