.store-addons-for-woocommerce-cart-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* Exactly 3 equal columns */
    gap: 20px;

    /* Space between rows and columns */
    .content-layout {
        display: flex;
        gap: 5px;
        border: 1px solid #cfc8d8;
        padding: 5px;
        border-radius: 5px;

        .img-con {
            img {
                width: 40px;
                height: 40px;
            }
        }

        .text-con {
            flex: 1;
        }

        .card-title {
            margin: 0;
        }
        .card-content {
            margin-top: 5px;
        }
        .card-btn {
            text-decoration: none;
            display: inline-block;
            text-align: center;
            padding: 5px 10px;
            background-color: var(--wp--preset--color--contrast);
            color: var(--wp--preset--color--base);
            margin-top: 5px;

            &:hover {
                background-color:
                    color-mix(in srgb, var(--wp--preset--color--contrast) 85%, transparent);
                border-color: transparent;
                color: var(--wp--preset--color--base);
            }
        }

        &.content-layout-1,
        &.content-layout-2,
        &.content-layout-3 {
            flex-direction: column;
        }

        &.content-layout-4,
        &.content-layout-5,
        &.content-layout-6 {
            flex-direction: column-reverse;
        }

        &.content-layout-1,
        &.content-layout-4 {
            .img-con {
                text-align: left;
            }

            .text-con {
                align-items: start;
            }
        }

        &.content-layout-2,
        &.content-layout-5 {
            .img-con {
                text-align: center;
            }

            .text-con {
                align-items: center;
                text-align: center;
            }
        }

        &.content-layout-3,
        &.content-layout-6 {
            .img-con {
                text-align: right;
            }

            .text-con {
                align-items: end;
                text-align: right;
            }
        }



        &.content-layout-7,
        &.content-layout-8,
        &.content-layout-9,
        &.content-layout-10,
        &.content-layout-11,
        &.content-layout-12 {
            .img-con {
                display: inline-block;
            }
        }


        &.content-layout-7,
        &.content-layout-8,
        &.content-layout-9 {
            flex-direction: row;
        }

        &.content-layout-10,
        &.content-layout-11,
        &.content-layout-12 {
            flex-direction: row-reverse;

            .text-con {
                align-items: end;
                text-align: right;
            }
        }

        &.content-layout-7,
        &.content-layout-10 {
            .img-con {
                align-self: flex-start;
            }
        }

        &.content-layout-8,
        &.content-layout-11 {
            .img-con {
                align-self: center;
            }
        }

        &.content-layout-9,
        &.content-layout-12 {
            .img-con {
                align-self: flex-end;
            }
        }
    }
}