.store-addons-for-woocommerce-settings-template {
  #wpcontent {
    #wpbody {
      #wpbody-content {
        .store-addons-for-woocommerce-settings-wrapper {
          .top-level-list-group {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              padding-left: 20px;
              a {
                display: block;
                padding: 5px 0;
                color: rgba(0,0,0,.65);
              }
              &:hover > a,
              &.menu-open > a,
              &.active > a {
                color: rgba(0,0,0,1);
              }
              &.menu-open {
                > ul {
                  display: block;
                }
              }
            }
            ul {
              display: none;
              list-style: none;
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }
  }
}


