.safq-plugin-card {
  margin-bottom: 10px;
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .action {
    button {
      border-style: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
      color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
      text-decoration: none;
    }
  }
}
